.neighborland_embed {
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  min-width: 150px !important;

  img {
    max-width: 100%;
    height: auto;
  }

  .cf:before, .cf:after { content: " "; display: table; }
  .cf:after { clear: both; }
  .cf { *zoom: 1; }

  .widget-title-compact {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    padding-top: 2px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
  }

  .widget-title-fancy {
    font-size: 18px;
    font-weight: bold;
    color: #666;
    padding-top: 2px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
  }

  .idea {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #ccc;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    //fancy

    .ideatext {
      border-radius: 4px;
      width: 92%;
      padding: 10px 4%;
      margin: 0;
      background-color: rgba(0, 0, 0, 0.1);
      color: #444;
      font-size: 18px;
      line-height: 1.5;
      a {
        color: #444;
        text-decoration: none;
        &:hover {
          color: #1586c9;
        }
      }
    }

    .embed-pointer {
      background: inline-image("stream-item-pointer.png") bottom left no-repeat;
      margin-top: -11px;
      margin-bottom: 6px;
      margin-left: 9%;
      height: 33px;
    }

    .embed-meta {
      min-height: 36px;
    }

    .embed-sayer {
      margin-left: 15px;
      float: left;
      width: 36px;
      height: 36px;
    }

    .embed-says {
      float: left;
      width: 70%;
      font-size: 14px;
      line-height: 1.2;
      padding-left: 8px;
      color: #444;
      a {
        color: #444;
        text-decoration: none;
        &:hover {
          color: #1586c9;
        }
      }
    }

    .embed-support {
      color: #1586c9;
    }

    //compact

    .compact-wrap {
      color: #666;
      width: 86%;
      float: right;
      font-size: 14px;
    }

    .ideatext-compact {
      margin-top: 2px;
      a {
        color: #666;
        text-decoration: none;
        &:hover {
          color: #1586c9;
        }
      }
    }

    .embed-sayer-compact {
      width: 11%;
      float: left;
      margin-right: 2%;
    }

    .embed-meta-compact {
      margin-top: 4px;
      color: #666;
      font-size: 12px;
      a {
        color: #1586c9;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .widget-footer {
    font-size: 12px;
    color: #666;
    a {
      color: #1586c9;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .neighborland_embed {
    max-width: 275px;
  }
}
