.neighborland_embed {
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  min-width: 150px !important; }
  .neighborland_embed img {
    max-width: 100% !important;
    height: auto !important; }
  .neighborland_embed .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden; }
  .neighborland_embed .clearfix {
    display: block; }
  .neighborland_embed .widget-title-compact {
    font-size: 14px;
    font-weight: bold;
    color: #7b8078;
    padding-top: 2px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ced6ca; }
  .neighborland_embed .widget-title-fancy {
    font-size: 18px;
    font-weight: bold;
    color: #7b8078;
    padding-top: 2px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ced6ca; }
  .neighborland_embed .idea {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 100%;
    clear: both;
    border-bottom: 1px solid #ced6ca; }
    .neighborland_embed .idea:first-of-type {
      margin-top: 0; }
    .neighborland_embed .idea:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0; }
    .neighborland_embed .idea .ideatext {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      width: 92%;
      clear: both;
      padding: 10px 4%;
      margin: 0;
      background: #E1E8DD;
      color: #444;
      font-family: Georgia,Times,serif;
      font-size: 18px;
      line-height: 24px; }
      .neighborland_embed .idea .ideatext a {
        color: #444;
        text-decoration: none; }
        .neighborland_embed .idea .ideatext a:hover {
          color: #45a648; }
    .neighborland_embed .idea .embed-pointer {
      background: asset-data-url("stream-item-pointer.png") bottom left no-repeat;
      margin-top: -11px;
      margin-bottom: 6px;
      margin-left: 9%;
      height: 33px; }
    .neighborland_embed .idea .embed-meta {
      clear: both;
      min-height: 36px; }
    .neighborland_embed .idea .embed-sayer {
      padding-left: 9%;
      float: left;
      width: 36px;
      height: 36px; }
    .neighborland_embed .idea .embed-says {
      float: left;
      width: 70%;
      font-size: 12px;
      line-height: 16px;
      padding-left: 6px;
      padding-top: 3px;
      color: #7b8078; }
      .neighborland_embed .idea .embed-says a {
        color: #7b8078;
        text-decoration: none; }
        .neighborland_embed .idea .embed-says a:hover {
          color: #45a648; }
    .neighborland_embed .idea .embed-support {
      color: #45a648; }
    .neighborland_embed .idea .compact-wrap {
      color: #6c6d68;
      width: 86%;
      float: right;
      font-size: 12px; }
    .neighborland_embed .idea .ideatext-compact {
      margin-top: 2px;
      clear: both; }
      .neighborland_embed .idea .ideatext-compact a {
        color: #6c6d68;
        text-decoration: none; }
        .neighborland_embed .idea .ideatext-compact a:hover {
          color: #45a648; }
    .neighborland_embed .idea .embed-sayer-compact {
      width: 11%;
      float: left;
      margin-right: 2%; }
    .neighborland_embed .idea .embed-meta-compact {
      margin-top: 4px;
      color: #7b8078;
      font-size: 10px;
      clear: both; }
      .neighborland_embed .idea .embed-meta-compact a {
        color: #45a648;
        text-decoration: none; }
        .neighborland_embed .idea .embed-meta-compact a:hover {
          text-decoration: underline; }
  .neighborland_embed .widget-footer {
    font-size: 12px;
    color: #7b8078; }
    .neighborland_embed .widget-footer a {
      color: #45a648;
      text-decoration: none; }
      .neighborland_embed .widget-footer a:hover {
        text-decoration: underline; }

@media only screen and (max-width: 767px) {
  .neighborland_embed {
    max-width: 275px !important; } }
